Repository apache/allura: changes, and which pre-commit hooks are due for each by the changed paths.
All: tz-functions, noprint, notab, scss_extend_pattern

Path conditions:
  tz-functions: any of: \.py$
  noprint: any of: \.py$, but not: (?x)^(
    /tests/.*|
    Allura/allura/command/.*|
    Allura/ldap-setup.py|
    scripts/.*|
    Allura/ldap-userconfig.py|
    /scripts/.*|
    ForgeSVN/setup.py|
    Allura/allura/scripts/.*|
    Allura/allura/tests/.*|
    AlluraTest/alluratest/.*|
    ForgeGit/forgegit/tests/.*|
    fuse/.*|
    run_tests|
    ForgeSVN/forgesvn/tests/.*|
    ForgeWiki/forgewiki/tests/.*|
    ForgeImporters/forgeimporters/tests/.*
)$

  notab: any of: \.py$
  scss_extend_pattern: any of: \.scss$, but not: node_modules

[#8536] remove old unused oembed templates
  Allura/allura/templates/oembed/__init__.py
  Allura/allura/templates/oembed/generic.html
  Allura/allura/templates/oembed/html_tpl.html
  Allura/allura/templates/oembed/link.html
  Allura/allura/templates/oembed/link_opera.html
  Allura/allura/templates/oembed/link_twitter.html
  Allura/allura/templates/oembed/photo.html
Due: tz-functions, noprint, notab

[#8536] use Markup's own interpolation
  Allura/allura/lib/app_globals.py
  Allura/allura/lib/search.py
  Allura/allura/lib/utils.py
  Allura/allura/lib/widgets/forms.py
  Allura/allura/tasks/mail_tasks.py
  Allura/allura/tests/test_globals.py
  ForgeActivity/forgeactivity/templates/macros.html
  ForgeTracker/forgetracker/model/ticket.py
  ForgeTracker/forgetracker/widgets/ticket_form.py
Due: tz-functions, noprint, notab

[#8536] remove unnecessary |safe usages
  Allura/allura/controllers/search.py
  Allura/allura/lib/app_globals.py
  Allura/allura/templates/oauth_applications.html
  Allura/allura/templates/oauth_authorize.html
  Allura/allura/templates/project_list.html
  Allura/allura/templates/repo/merge_request.html
  Allura/allura/templates/widgets/include.html
  Allura/allura/templates/widgets/post_widget.html
  ForgeBlog/forgeblog/templates/blog_widgets/preview_post.html
  ForgeBlog/forgeblog/templates/blog_widgets/view_post.html
  ForgeChat/forgechat/templates/chat/day.html
  ForgeDiscussion/forgediscussion/templates/discussion_widgets/forum_header.html
  ForgeDiscussion/forgediscussion/templates/discussionforums/admin_forums.html
  ForgeTracker/forgetracker/templates/tracker/ticket.html
  ForgeTracker/forgetracker/templates/tracker_widgets/ticket_form.html
  ForgeWiki/forgewiki/templates/wiki/browse.html
Due: tz-functions, noprint, notab

[#8536] improve safety
  Allura/allura/ext/personal_dashboard/templates/sections/projects.html
  Allura/allura/ext/user_profile/templates/sections/projects.html
  Allura/allura/lib/widgets/forms.py
  Allura/allura/templates/jinja_master/master.html
  Allura/allura/templates_responsive/jinja_master/master.html
Due: tz-functions, noprint, notab

[#8536] more move/improve |safe
  Allura/allura/lib/widgets/search.py
  Allura/allura/templates/user_prefs.html
  Allura/allura/templates/widgets/lightbox.html
Due: tz-functions, noprint, notab

[#8536] use h.clean_html and |safe_html
  Allura/allura/config/app_cfg.py
  Allura/allura/ext/admin/templates/project_trove.html
  Allura/allura/lib/helpers.py
  Allura/allura/templates/jinja_master/master.html
  Allura/allura/templates/neighborhood_project_list.html
  Allura/allura/templates_responsive/jinja_master/master.html
  Allura/allura/tests/test_helpers.py
Due: tz-functions, noprint, notab

[#8536] don't use jinja for site notifications; add autoescape
  Allura/allura/lib/helpers.py
  Allura/allura/lib/widgets/search.py
  Allura/allura/public/nf/js/allura-base.js
  Allura/allura/templates/jinja_master/theme_macros.html
  Allura/allura/templates_responsive/jinja_master/theme_macros.html
  Allura/allura/tests/test_helpers.py
Due: tz-functions, noprint, notab

use $regex instead of re.compile in mongo queries, so it uses indexes properly. Maybe fixed in current mongo versions https://jira.mongodb.org/browse/SERVER-26991
  Allura/allura/controllers/project.py
  Allura/allura/controllers/site_admin.py
  Allura/allura/controllers/trovecategories.py
  Allura/allura/ext/admin/admin_main.py
  Allura/allura/lib/plugin.py
  Allura/allura/model/project.py
  ForgeDiscussion/forgediscussion/controllers/forum.py
  ForgeUserStats/forgeuserstats/controllers/userstats.py
Due: tz-functions, noprint, notab

[#8446] update inline username mentions (missed in original work on this ticket)
  Allura/allura/lib/markdown_extensions.py
  Allura/allura/tests/test_globals.py
Due: tz-functions, noprint, notab

bump cryptography 42.0.2 -> 42.0.4
  requirements.txt
Due: none

[#8536] move/improve |safe usage
  Allura/allura/app.py
  Allura/allura/ext/admin/templates/project_groups.html
  Allura/allura/lib/diff.py
  Allura/allura/templates/jinja_master/sidebar_menu.html
  Allura/allura/templates/repo/barediff.html
  Allura/allura/templates/repo/diff.html
  Allura/allura/templates_responsive/jinja_master/sidebar_menu.html
  ForgeTracker/forgetracker/tracker_main.py
  ForgeWiki/forgewiki/wiki_main.py
Due: tz-functions, noprint, notab

bump cryptography 42.0.4 -> 42.0.5
  requirements.txt
Due: none

[#8537] moved g analytics further down the page
  Allura/allura/public/nf/js/jquery.notify.js
  Allura/allura/templates/jinja_master/master.html
  Allura/allura/templates_responsive/jinja_master/master.html
Due: none

fixup! [#8537] moved g analytics further down the page
  .eslintrc-es5
Due: none

fixup! fixup! [#8537] moved g analytics further down the page
  Allura/allura/public/nf/js/jquery.notify.js
Due: none

fixup! fixup! fixup! [#8537] moved g analytics further down the page
  Allura/allura/public/nf/js/jquery.notify.js
Due: none

[#8537] moved g analytics further down the page
  Allura/allura/templates/jinja_master/master.html
  Allura/allura/templates_responsive/jinja_master/master.html
Due: none

[#8537] allow 'this' in JS functions, a common jquery pattern we use
  .eslintrc-es5
Due: none

[#8537] do not run scanMessages forever
  Allura/allura/public/nf/js/jquery.notify.js
Due: none

make it easier to change order of sidebar items w/ the AdminExtension
  Allura/allura/ext/admin/admin_main.py
  Allura/allura/lib/plugin.py
  ForgeImporters/forgeimporters/base.py
Due: tz-functions, noprint, notab

future annotations in a few files, so it works fine on python 3.8 still
  Allura/allura/lib/markdown_extensions.py
  Allura/allura/lib/plugin.py
  Allura/allura/lib/widgets/discuss.py
  ruff.toml
Due: tz-functions, noprint, notab

add active class to notification messages
  Allura/allura/public/nf/js/jquery.notify.js
Due: none

[#8537] small update to notifications function to set active
  Allura/allura/public/nf/js/jquery.notify.js
Due: none

remove unittest from these classes, it won't work well with pytest parametrize
  Allura/allura/tests/test_tasks.py
Due: tz-functions, notab

encode emails when the body has long lines. [#8533] erroneously removed handling of it. This is a better solution than before too
  Allura/allura/lib/mail_util.py
  Allura/allura/tests/test_tasks.py
Due: tz-functions, noprint, notab

support overlapping admin urls, if a tool is installed with "groups" mount point
  Allura/allura/ext/admin/admin_main.py
  Allura/allura/tests/functional/test_admin.py
Due: tz-functions, noprint, notab

[#8538] add new get_object_from_id timeline helper method which tries to find an object from an allura_id
  Allura/allura/model/timeline.py
Due: tz-functions, noprint, notab

keep flash messages more visible
  Allura/allura/nf/allura/css/site_style.css
  Allura/allura/public/nf/js/jquery.notify.js
Due: none

[#8539] upgrade ruff
  .pre-commit-config.yaml
  requirements.txt
  ruff.toml
Due: none

[#8539] remove old teamforge import script, which had lots of hardcoded specifics
  .gitignore
  .pre-commit-config.yaml
  Allura/docs/getting_started/administration.rst
  scripts/teamforge-import.py
Due: tz-functions, notab

[#8539] add some pylint checks
  Allura/allura/command/base.py
  Allura/allura/lib/helpers.py
  Allura/allura/lib/patches.py
  Allura/allura/tests/functional/test_discuss.py
  Allura/allura/websetup/bootstrap.py
  ruff.toml
  scripts/ApacheAccessHandler.py
Due: tz-functions, noprint, notab

[#8539] add bandit checks
  Allura/allura/command/script.py
  Allura/allura/command/taskd.py
  Allura/allura/config/middleware.py
  Allura/allura/controllers/rest.py
  Allura/allura/lib/decorators.py
  Allura/allura/lib/helpers.py
  Allura/allura/lib/import_api.py
  Allura/allura/lib/phone/nexmo.py
  Allura/allura/lib/plugin.py
  Allura/allura/lib/project_create_helpers.py
  Allura/allura/model/index.py
  Allura/allura/model/notification.py
  Allura/allura/scripts/trac_export.py
  Allura/allura/tests/functional/test_neighborhood.py
  Allura/allura/tests/unit/phone/test_nexmo.py
  Allura/allura/websetup/bootstrap.py
  Allura/ldap-setup.py
  Allura/setup.py
  ForgeImporters/forgeimporters/base.py
  ForgeTracker/forgetracker/tests/unit/test_ticket_model.py
  fuse/accessfs.py
  ruff.toml
  scripts/ApacheAccessHandler.py
  scripts/changelog.py
  scripts/new_ticket.py
  scripts/wiki-copy.py
Due: tz-functions, noprint, notab

[#8539] code simplifications
  Allura/allura/command/taskd_cleanup.py
  Allura/allura/controllers/project.py
  Allura/allura/controllers/rest.py
  Allura/allura/controllers/site_admin.py
  Allura/allura/lib/utils.py
  Allura/allura/tests/decorators.py
  Allura/allura/tests/functional/test_neighborhood.py
  Allura/allura/tests/functional/test_personal_dashboard.py
  Allura/allura/tests/functional/test_user_profile.py
  Allura/allura/tests/model/test_project.py
  Allura/allura/tests/test_commands.py
  Allura/allura/tests/test_helpers.py
  Allura/allura/tests/test_tasks.py
  Allura/allura/tests/test_webhooks.py
  Allura/allura/tests/unit/test_session.py
  ForgeActivity/forgeactivity/main.py
  ForgeFeedback/forgefeedback/tests/unit/test_root_controller.py
  ForgeImporters/forgeimporters/github/__init__.py
  ForgeTracker/forgetracker/tracker_main.py
  ruff.toml
Due: tz-functions, noprint, notab
