Repository apache/allura: changes, and which pre-commit hooks are due for each by the changed paths.
All: tz-functions, noprint, notab, scss_extend_pattern

Path conditions:
  tz-functions: any of: \.py$
  noprint: any of: \.py$, but not: (?x)^(
    /tests/.*|
    Allura/allura/command/.*|
    Allura/ldap-setup.py|
    scripts/.*|
    Allura/ldap-userconfig.py|
    /scripts/.*|
    ForgeSVN/setup.py|
    Allura/allura/scripts/.*|
    Allura/allura/tests/.*|
    AlluraTest/alluratest/.*|
    ForgeGit/forgegit/tests/.*|
    fuse/.*|
    run_tests|
    ForgeSVN/forgesvn/tests/.*|
    ForgeWiki/forgewiki/tests/.*|
    ForgeImporters/forgeimporters/tests/.*
)$

  notab: any of: \.py$
  scss_extend_pattern: any of: \.scss$, but not: node_modules

[#8535] Upgrade pytest 7.4.2 -> 7.4.4, and its deps: iniconfig,packaging,pluggy
  requirements.txt
Due: none

[#8535] Upgrade pytest-xdist 3.3.1 -> 3.5.0, and its deps: execnet,pytest,iniconfig,packaging,pluggy
  requirements.txt
Due: none

[#8535] Upgrade pytest-sugar 0.9.7 -> no upgrade, and its deps: packaging,pytest,iniconfig,packaging,pluggy,termcolor
  requirements.txt
Due: none

[#8535] Upgrade pre-commit 3.5.0 -> 3.6.0, and its deps: cfgv,identify,nodeenv,setuptools,PyYAML,virtualenv,distlib,filelock,platformdirs
  requirements.txt
Due: none

restore c.project.notifications_disabled after a task (can matter in tests)
  Allura/allura/model/monq_model.py
Due: tz-functions, noprint, notab

add user_id index to oauth collections
  Allura/allura/model/oauth.py
Due: tz-functions, noprint, notab

[#8535] Upgrade wrapt 1.15.0 -> 1.16.0
  requirements.txt
Due: none

[#8535] Upgrade Pillow 10.1.0 -> 10.2.0
  requirements.txt
Due: none

[#8535] Upgrade emoji 2.8.0 -> 2.9.0
  requirements.txt
Due: none

[#8535] Upgrade beaker-session-jwt 1.0.1 -> no upgrade, and its deps: Beaker,joserfc,cryptography,cffi,pycparser,pymongo
  requirements.txt
Due: none

[#8535] Upgrade Jinja2 3.1.2 -> 3.1.3, and its deps: MarkupSafe
  requirements.txt
Due: none

[#8535] Upgrade Markdown 3.5 -> 3.5.2
  requirements.txt
Due: none

[#8535] Upgrade TimerMiddleware 0.6.2 -> 0.6.3, and its deps: WebOb
  requirements.txt
Due: none

[#8535] Upgrade ActivityStream 0.4.0 -> 0.4.1, and its deps: pymongo
  requirements.txt
Due: none

[#8535] Upgrade feedparser 6.0.10 -> 6.0.11, and its deps: sgmllib3k
  requirements.txt
Due: none

[#8535] Upgrade EasyWidgets 0.4.1 -> no upgrade, and its deps: FormEncode,six,MarkupSafe,Paste,setuptools,six,python-dateutil,six,six,WebOb
  requirements.txt
Due: none

[#8535] Upgrade ruff 0.0.292 -> 0.1.13
  requirements.txt
Due: none

[#8535] Upgrade Pypeline 0.6.1 -> no upgrade, and its deps: bleach,six,webencodings,html5lib,six,webencodings,Creoleparser,Genshi,six,six,Markdown,textile,html5lib,six,webencodings,regex,docutils
  requirements.txt
Due: none

[#8535] Upgrade Pygments 2.16.1 -> 2.17.2
  requirements.txt
Due: none

[#8535] Upgrade pysolr 3.9.0 -> no upgrade, and its deps: requests,certifi,charset-normalizer,idna,urllib3
  requirements.txt
Due: none

[#8535] Upgrade qrcode 7.4.2 -> no upgrade, and its deps: pypng,typing-extensions
  requirements.txt
Due: none

[#8535] Upgrade GitPython 3.1.37 -> 3.1.41, and its deps: gitdb,smmap
  requirements.txt
Due: none

[#8535] Upgrade testfixtures 7.2.0 -> 7.2.2
  requirements.txt
Due: none

add conftest.py that mocks out tg context
  conftest.py
Due: tz-functions, noprint, notab

pin pre-commit<3.6; python_version<'3.9'
  requirements.in
  requirements.txt
Due: none

add apache license to newly added conftest.py
  conftest.py
Due: tz-functions, noprint, notab

upgrade activitystream 0.4.1 -> 0.4.2
  requirements.txt
Due: none

make ldap_conn() be a context manager, so unbind_s can be run automatically
  Allura/allura/lib/plugin.py
Due: tz-functions, noprint, notab

in password reset, also try lowercasing the email to see if that matches
  Allura/allura/controllers/auth.py
  Allura/allura/tests/functional/test_auth.py
Due: tz-functions, noprint, notab

unpin pastedeploy, upgrade it with latest pastescript which is now compatible
  requirements.in
  requirements.txt
Due: none

test attribute cleanup (was causing TestProjectModel.test_project to fail depending on test distribution/order)
  Allura/allura/tests/unit/test_app.py
Due: tz-functions, notab

bumping package cryptography 41.0.7 -> 42.0.2
  requirements.txt
Due: none

make active notifications easier to see in the list
  Allura/allura/templates/site_admin_site_notifications_list.html
Due: none

[#8536] move/improve |safe usage
  Allura/allura/app.py
  Allura/allura/ext/admin/templates/project_groups.html
  Allura/allura/lib/diff.py
  Allura/allura/templates/jinja_master/sidebar_menu.html
  Allura/allura/templates/repo/barediff.html
  Allura/allura/templates/repo/diff.html
  Allura/allura/templates_responsive/jinja_master/sidebar_menu.html
  ForgeTracker/forgetracker/tracker_main.py
  ForgeWiki/forgewiki/wiki_main.py
Due: tz-functions, noprint, notab
